#navigation-bar {
    position: absolute;
    top: -3%;
    right: 0px;
}

#navigation-bar ul {
    display: flex;
}

a {
    color: inherit;
}

i {
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
    background-color: black;
    margin: 10px;
    padding: 10px;
    width: 300px;
    position:absolute;
    top: 55px;
    right: 3px;
    z-index: 10;
}

i:hover + .hidden {
    display: flex;
}