@import "./styles/reset";
@import "./styles/canvas";
@import "./styles/navigation";

@font-face {
    font-family: duckhunt;
    src: url(../assets/font/m29.TTF);
}

@font-face {
    font-family: pretendo;
    src: url(../assets/font/dpcomic.ttf);
}

$main-font: pretendo;
$game-font: duckhunt;

// Body wide
body {
    background-color: #2b3b48;
    color: lightseagreen
}

// Main Section
#main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
}

// Header
h1 {
    font-size: 45px;
    font-family: $game-font, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    left: 0px;
    top: -3%;
}

// Buttons
#control-container {
    font-family: $main-font, 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: -2%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#play-button, #restart-button {
    cursor: pointer;
}

// Footer
#footnotes {
    font-size: 16px;
    font-family: $main-font, 'Courier New', Courier, monospace;
    position: absolute;
    bottom: -1%;
    right: 0;
    text-align: right;
}

