@import "./styles/reset";
@import "./styles/canvas";
@import "./styles/navigation";


// Fonts
@font-face {
    font-family: duckhunt;
    src: url(../assets/font/m29.TTF);
}

@font-face {
    font-family: dpcomic;
    src: url(../assets/font/dpcomic.ttf);
}

$main-font: dpcomic;
$game-font: duckhunt;

// Colors
$main-color: lightseagreen;

body {
    background-color: #2b3b48;
    background-image: url("../assets/nes_space.jpeg");
    background-repeat: repeat;
    color: $main-color;
}

// Splash
#splash-container {
    position: absolute;
    top: -5.5%;
    width: 800px;
    height: 600px;
    background-image: url("../assets/duckhunt_02.jpeg");
    background-size: cover;
    z-index: 5;
}

// Main Section
#main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
}

// Header
h1 {
    font-size: 45px;
    font-family: $game-font, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    left: 1px;
    top: -3%;
    cursor: default;
}

// Info
#game-info {
    font-family: $main-font, 'Courier New', Courier, monospace;
    border: dashed $main-color 3px;
}

// Buttons
#control-container {
    font-family: $main-font, 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    left: 49%;
    top: -2%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


#play-button {
    position: relative;
}

#restart-button {
    cursor: pointer;
    padding-top: 2px;
}

// Counters
#counter-container {
    position: inherit;
    bottom: 45px;
    left: 10px;
    background-color: black;
    border: dashed $main-color 3px;
    z-index: 0;
}

#score-counter, 
#ammo-counter, 
#time-counter {
    font-family: $game-font, 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px;
    cursor: default;
}

// Footer
#footnotes {
    font-size: 16px;
    font-family: $main-font, 'Courier New', Courier, monospace;
    position: absolute;
    bottom: -1%;
    right: 0;
    text-align: right;
}

